[2017-09-18 05:06] GantMan opened #8 "Add gluegun branding"
Gluegun supports branding, so add it.

[2017-09-24 16:07] GantMan opened #10 "Adventures in SPACE! :star:"
# 👨‍🚀

Notice how spinner lives on the second line after being done.  WUT?
![image](https://user-images.githubusercontent.com/997157/30784302-6c2a4784-a118-11e7-9546-cc3e6ac754be.png)

[2017-09-24 16:27] #10 closed, assigned to nobody

[2017-09-24 16:37] GantMan opened #12 "Add Silent flag"
passing `-s` or `--silent` should enforce that no output happens, just a return code.

[2017-09-27 21:54] GantMan opened #15 "Add AVA tests"
You know you've been needing tests.

https://github.com/avajs/ava

[2017-09-27 21:55] GantMan opened #16 "Setup CI with semaphore"
Jump in on the semaphore testing CI

[2017-09-28 04:39] #15 closed

[2017-09-28 21:26] #16 closed

[2017-09-30 20:31] GantMan opened #19 "Upgrade gluegun to 2.0 beta"
gluegun is undergoing cleanup, switch over to latest gluegun for optimal code cleanliness.

[2017-09-30 22:28] GantMan opened #20 "Catch suffixes"
currently version crazed, not detecting things like `-beta` or `-rc1` etc. on versions.

Example fail:
![image](https://user-images.githubusercontent.com/997157/31049963-a4827c82-a604-11e7-99e7-db5de11f4518.png)

![image](https://user-images.githubusercontent.com/997157/31049971-b2a55776-a604-11e7-9a38-515b05648a59.png)

^ fix this

[2017-09-30 22:30] GantMan opened #21 "Properly work with Non-semver apps"
Apps like Xcode will output invalid semver (e.g. 9.0, or xcrun outputs 35)

These should be able to be integrated and get rules like `^9.0` if someone so chooses.

[2017-10-01 01:28] tjwhalen16 commented on #20
I've found the problem, and am almost done implementing a solution. Expect a pull request tomorrow October 1st.

[2017-10-01 03:48] GantMan commented on #19
can finish this out now that https://github.com/infinitered/gluegun/pull/228 is to be!

[2017-10-01 05:55] GantMan commented on #20
very cool!  yeah, I think some magic sprinkled on the regex would be a good fix.

[2017-10-01 21:57] #19 closed

[2017-10-01 22:11] GantMan opened #25 "Add support for Windows"
We need to help our Windows friends!   Linux/Mac support looks great, but you never know on window.  Let's check!

[2017-10-01 22:45] GantMan commented on #20
Closed by #20

[2017-10-01 22:52] #21 closed

[2017-10-02 00:00] #20 closed

[2017-10-02 00:23] murilodag commented on #25
Hello @GantMan,

Could you attach a demo file so I could check on Windows?

[2017-10-02 01:54] GantMan commented on #25
Yup!   So here's a good demo file we keep on hand:
https://github.com/infinitered/solidarity/blob/master/.solidarity.example

This is currently ensuring the environment for a React Native project, but I'm sure with a slight adjustment it could be modified to be for any project environment needs.

[2017-10-02 02:33] VerteDinde commented on #25
@GantMan I'm doing a lot of Windows testing in a VM as well; happy to be a second set of eyes and possibly help with any patches (though I don't want to step on your toes at all, @murilodag ) :smiley:

Will test this tomorrow afternoon and report back.

[2017-10-02 20:16] murilodag commented on #25
@GantMan, don't worry. =)

[2017-10-05 03:12] GantMan opened #27 "Versions should update on `solidarity snapshot`"
Create a snapshot update of versions in a solidarity rule file.

[2017-10-07 16:30] #27 closed

[2017-10-07 16:33] GantMan opened #30 "Add docs with some kind of tooling (e.g. Docsify)"
There needs to be clean way to read and understand how to use solidarity.  Preferably, I'd love to have something where I write markdown, and it generates the github site.

I'm looking into [Docsify](https://github.com/QingWei-Li/docsify) but could really use some help on setup for this portion of the app.  I'm terribly distracted while I'm working on the internals, so I haven't spent any time fin

[2017-10-07 17:05] GantMan opened #31 "Support for config files other than JSON?"
Solidarity isn't tech or system specific... should the config files be?

How about `.solidarity.yaml` and `.solidarity.json` and `.solidarity.toml`?

Basically, the file extension will tell solidarity HOW to read and write the file.  No need to force the users into JSON, and having those extensions will allow editors to easily colorize/check manual edits for errors.

Feedback welcome!
cc: @skelloc

[2017-10-07 18:10] rmnegatives commented on #30
I can give this a try. Ill give you a update soon.

[2017-10-07 18:15] GantMan commented on #30
Sounds good @rmnegatives

[2017-10-07 18:36] gabrielsclimaco commented on #30
@rmnegatives take a look at [jsdoc](http://usejsdoc.org/)

[2017-10-07 18:52] rmnegatives commented on #30
@gabrielsclimaco jscode looks through js files and auto document Api.
It seems @GantMan is looking for something easier. Something that allows easy addition of .md files in one directory and easy serve on a website.
Ive created a PR check it out this is start [PR](https://github.com/infinitered/solidarity/pull/32)
I will work on a suggested way to to format this.

[2017-10-07 19:10] gabrielsclimaco commented on #30
@rmnegatives got it. Great job btw

[2017-10-07 19:35] skellock commented on #31
My hot take: use `solidarity.json` and call it a day.

I noticed `.prettierrc` supports loading both `YAML` and `JSON` and I thought..... "oh... uh... cute.". Then went on with my day.

[2017-10-07 20:36] GantMan commented on #31
I hate how JSON reads, and I also hate the lack of comments.

HDD (Hate Driven Development)

[2017-10-07 20:52] skellock commented on #31
Then it sounds like you've decided?

[2017-10-07 20:56] GantMan commented on #31
Hah, currently leaning towards, not for version 1.  Especially if I'm the most excited for the feature :D

[2017-10-07 21:07] GantMan commented on #30
@rmnegatives - got a couple of comments on #33

[2017-10-08 01:21] GantMan commented on #30
Closed by #32

[2017-10-08 01:21] #30 closed

[2017-10-08 02:32] GantMan opened #35 "Document how to write a plugin"
Add docs for how to write a plugin.  Additionally, cover existing plugins in the designated doc space.

[2017-10-08 17:11] GantMan commented on #12
This will be coming from upstream

https://github.com/infinitered/gluegun/issues/243

[2017-10-08 17:11] #12 closed

[2017-10-08 20:08] #35 closed

[2017-10-08 22:40] GantMan opened #37 "Convert to Typescript"
Typescript all the things from now on.  It was easy to iterate with JS, but this library needs to be converted over to Typescript.

That means we're going to need a compile step and a `dest` folder.

[2017-10-08 22:44] GantMan opened #38 "Deterministic Version Finding"
Comes from convo on #23 - where code was adjusted to find the biggest version.

Consider this situation:
The CLI outputs 2 versions for some terrible reason.
On Alice's machine 1.0.1 and 0.47.2. Using your formula this would grab 0.47.2 and a person would ship that rule, happy it found the correct one.

Then on Bob's machine, he has 2 versions 2.0.0-beta and 0.47.2. On this machine, it would match

[2017-10-09 00:34] GantMan opened #39 "Solidarity report and doctor"
### Soldiarity Report/Doctor
should use the `.solidarity` file to report the values of any given machine.

This would be ideal for people filing tickets.  If I identify my technology depends on 20 things in my `solidarity` file.  Then I could add "Please run `yarn solidarity report`" with my repo issue template, and it would give me results.

Like `ignite doctor` but for free.

[2017-10-09 01:02] mattathompson opened #40 "Contribution Documentation."
Having a hard time just setting up this repository locally w/ a passing test suite. It would be nice to have some sort of guidelines i.e: Node versioning and any other requirements.

[2017-10-09 01:28] mattathompson commented on #40
More details: I get the same error when trying to run solidarity through the npm install -g as I do when trying to run the test suite.

`
/opt/nodes/6.8.1/lib/node_modules/solidarity/src/index.js:3
module.exports = async () => {
                       ^
SyntaxError: Unexpected token (
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:542:28)
    at Object.Modul

[2017-10-09 01:37] GantMan opened #41 "Add coverage report"
Tests exist, but I know their coverage can't be great.  Would love to have a coverage badge.  I guess I'll need to run the AVA tests through `nyc` to get coverage reports.

[2017-10-09 01:38] GantMan commented on #40
Hey @mattathompson - what version of Node are you using?  You need node 7.6+

[2017-10-09 01:42] mattathompson commented on #40
Perfect, I had it on `7.2.1`. I use _nodenv_ to manage versions.

[2017-10-09 01:44] GantMan commented on #40
If 7.6 works for you, then I should consider some code that gives a warning to users.

Like "O SNAP! You'll need an upgraded Node to go any further"... or anything better than the message you got :)

[2017-10-09 01:45] mattathompson commented on #40
Agreed. Need to update my nodenv package list and then I'll give it a try with the version you've suggested.

[2017-10-09 02:02] mattathompson commented on #40
Updating to 7.6 solved all of my issues. Most definitely in favor of a friendly message when trying to run this package in an unsupported node version.

[2017-10-09 02:10] GantMan commented on #40
I marked this issue for a PR for someone to add a friendly message in the docs.

I'll make a secondary issue for that (in code) friendly message.

[2017-10-09 02:16] GantMan opened #42 "Dependency Check Yourself!!!"
If a user does not have node 7.6+ then gluegun 2.0 fails to run, and therefore solidarity fails.

Perhaps this should be checked here:  https://github.com/infinitered/solidarity/blob/master/bin/solidarity

Give them a friendly message.  Instead of an annoying one, like we saw in #40

FYI: Gluegun has some code for this check for us ->
https://github.com/infinitered/gluegun/blob/master/docs/sniff.m

[2017-10-09 04:13] GantMan commented on #42
Closed by #45

[2017-10-09 04:13] #42 closed

[2017-10-09 04:14] GantMan commented on #40
Closed by #43

[2017-10-09 04:14] #40 closed

[2017-10-09 13:57] JoeScho commented on #41
I can take a look at this :)

[2017-10-09 21:03] mattathompson commented on #37
I'm taking a stab at this.

[2017-10-10 02:51] GantMan commented on #37
EPIC!

[2017-10-10 04:11] #41 closed

[2017-10-10 15:22] GantMan opened #47 "Add `file` and `dir`rules."
We're almost there!  1.0 release is coming up.  But we need to implement 2 simple rules to be 1.0 version complete.  Rule for checking if a file exists and rule for checking if a directory exists.

Both of these are 1 liners.  Rule descriptions found here:

https://github.com/infinitered/solidarity/blob/master/docs/options.md#rulefile
AND
https://github.com/infinitered/solidarity/blob/master/docs/

[2017-10-10 15:23] GantMan opened #48 "Add Solidarity NPM badge to readme"
I just noticed there is no NPM badge for our latest version on the readme.

Super easy task.

[2017-10-10 16:12] grigori-gru commented on #48
May I try to do this?

[2017-10-10 17:40] GantMan commented on #48
I never realized how ugly the badges were on NPM!
Could you put the ugly NPM one at the bottom under a section for "Additional Info" and use badge.fury for the top?

https://badge.fury.io/for/js/solidarity

[2017-10-10 17:42] GantMan commented on #48
@yoavst and @grigori-gru - it looks like both of you are trying to do this task.  Not sure how to choose which one to accept, but hopefully one of you can make the adjustment I suggested above.

And for the other, I'll create another simple task, if that's ok.

[2017-10-10 19:32] ceejtron commented on #47
I'll take a stab at this.

[2017-10-11 00:34] GantMan commented on #48
Closed by #51

[2017-10-11 00:34] #48 closed

[2017-10-11 02:06] GantMan opened #53 "Fix fail reporting"
As of right now when something fails it gets added to an array and printed out.  The printing isn't exactly as nice as it should be.
![image](https://user-images.githubusercontent.com/997157/31418956-8f786494-adfe-11e7-8684-212ecbebe342.png)
See?  We can make that grouping of errors on their own line at least... and definitely prettier.

[2017-10-11 02:17] GantMan commented on #47
Looking great Christian!

[2017-10-11 02:26] GantMan opened #54 "Fixup Docs Site Dead Links"
There are 2 problems with the docs site:  https://infinitered.github.io/solidarity/#/

1. The site will not let you click on links inside the main page (e.g. try to click on `Solidarity Rules Options`)
1. We need to add those items to the left bar.   Probably time to add a `_sidebar.md` file like this: https://github.com/infinitered/gluegun/blob/master/docs/_sidebar.md, which powers the sidebar fo

[2017-10-11 02:39] GantMan opened #55 "Update Plugin Architecture"
Plugins currently work, but they require that you pass in the current directory path (See React Native Plugin).

Use callsite to to gather that information automatically
[LINK](https://stackoverflow.com/questions/18144921/how-do-i-get-the-dirname-of-the-calling-method-when-it-is-in-a-different-file-in)

[2017-10-11 02:46] thedeany commented on #54
I can take a look at this.

[2017-10-11 13:41] #54 closed

[2017-10-11 20:55] siakaramalegos commented on #53
I can take a stab at this. Did you have some phrasing ideas in mind?

[2017-10-11 21:08] GantMan opened #57 "Make Contributors Guide"
It's not 100% clear on how someone should get started contributing.  Let's add that to the docs!

[2017-10-11 21:11] GantMan commented on #53
no phrasing in mind.  Try not to say the F word more than 3 times... and that's a soft requirement.

[2017-10-11 21:13] ftonato commented on #57
I suggest this contributing guide:

[code]

[2017-10-11 21:50] siakaramalegos commented on #53
@GantMan lol... i will try my very best to minimize the f-bombs

[2017-10-11 23:57] #47 closed

[2017-10-12 00:01] #53 closed

[2017-10-12 00:08] GantMan commented on #57
Hi @ftonato - I like where you're headspace is at but I have a few reservations on the above plan.

Most importantly in this doc, I'd like to have setup instructions for anyone who doesn't know how to pull the project down and actually run it.  Some people might not know what `npm link` is etc.

Regarding the PR process rules:
1. I'm not sure what item 1 is saying
1. Love this rule
1. I don't want

[2017-10-12 11:41] #55 closed

[2017-10-12 15:59] GantMan commented on #37
closed by #50

[2017-10-12 15:59] #37 closed

[2017-10-12 16:01] GantMan opened #61 "Bring in Types from gluegun et al."
Currently using Typescript now, but it would be ideal if empowered all the strong typing.

Bring in types from gluegun, and add interfaces inside if this project as well.

[2017-10-12 16:08] GantMan opened #62 "Bring code coverage over 75%"
Wouldn't be hard at all to grab the low hanging fruit and make the code coverage less abysmal.

`yarn test` tells you where we're missing coverage.

[2017-10-12 19:15] #57 closed

[2017-10-13 00:49] mattathompson commented on #62
:raised_back_of_hand:

[2017-10-14 14:25] GantMan commented on #38
I think I'm gonna knock this one out today.

[2017-10-14 18:57] skellock commented on #38
Momma said knock this out!

[2017-10-14 19:02] #38 closed

[2017-10-14 20:49] GantMan opened #68 "Touchup Github page"
Add favicon, search, and other minor touchups to the github page.

[2017-10-14 21:42] #68 closed

[2017-10-15 05:50] GantMan opened #70 "Add a Plugin Generator"
Would be cool if I wanted to make a plugin, if all I had to do is say `solidarity generate plugin` and then it would ask me questions and build a plugin for me.  The gluegun understructure makes something like this pretty easy.

Definitely need to add documentation of this command, which would replace https://github.com/infinitered/solidarity/blob/master/docs/plugins.md

And the current contents o

[2017-10-15 05:54] GantMan commented on #25
btw, I've added some getting started with contributing docs.  Let me know if you have any questions.

[2017-10-16 00:45] GantMan opened #71 "Verify Global plugin install"
solidarity works when the plugin is installed locally... but what about globally?

Verify this is so!  Probably need to change the runner.

[2017-10-16 15:15] GantMan commented on #62
@mattathompson - would this task be easier for you in Jest?

[2017-10-16 15:27] ElliotChong opened #72 "`gluegun` Dependency Error on Fresh Install"
Greetings,

Just attempted to try `solidarity` for the first time and hit a dependency issue.

Repro steps (on a fresh project):
`yarn add -D solidarity`
`yarn solidarity`

Error is:
[code]

[2017-10-16 15:34] mattathompson commented on #62
@GantMan Yeah, probably. I might just be able to look into using something like `sinonjs`. I think converting the test suite over to jest could be a bit of overkill.

Don't let me be your blocker though. I'll be working on this during the evenings this week. So if you need faster turnaround I won't be offended.

[2017-10-16 19:02] GantMan commented on #72
That's pretty interesting!  Can you verify what version of gluegun got pulled in?

[2017-10-16 19:08] GantMan commented on #61
Tracked here: https://github.com/infinitered/solidarity/tree/feature/improve_typescript
- [x] Use gluegun typing
- [x] Enforce types
- [x] Export types
- [ ] Use updated gluegun release
... more?

Branch needs following to be merged and released:
https://github.com/infinitered/gluegun/pull/246
https://github.com/infinitered/gluegun/pull/245
https://github.com/infinitered/gluegun/pull/244

[2017-10-16 21:48] GantMan commented on #72
@ElliotChong - fixed!  Thanks so much for the catch.  Be sure to use latest from npm.

[2017-10-16 21:48] #72 closed

[2017-10-17 17:37] #61 closed

[2017-10-17 17:43] GantMan opened #74 "Move testing framework over to JEST with typescript"
Current testing framework is ultra annoying since it tests the `dist` folder.   Let's switch to JEST

Maybe with https://github.com/skovhus/jest-codemods  ???

This will bring our test coverage to a real number.

[2017-10-17 18:51] GantMan opened #75 "Easily add a new rules with snapshot"
CLI with no version
[code]

CLI with a version
[code]

ENV var
[code]

File/Dir also.

[2017-10-18 14:48] GantMan opened #76 "Add Standard JS linting"
The code in here is Standard JS compliant, but we have no standard checker for the CI.  Someone should simply add Standard to the lib test command so it is enforced by CI on all PRs.

// Enforcing JS tests
https://github.com/standard/standard

// Enforcing TS files
[code]

[2017-10-19 15:47] #74 closed

[2017-10-19 19:57] mattathompson commented on #62
Nice! I'm pulling the updates now.

[2017-10-19 20:51] GantMan opened #81 "Make solidarity file keep requirements under that key"
As @skellock pointed out, the requirements being the ONLY object means zero chance for upgrades later.  So for now, move everything under the key "requirements" so we can later add other toplevel keys, like "config", or "snapshot" etc.

Making this structural change now means we have the opportunity for unknown-unknowns later.

- [x]  Update code
- [x]  Update docs
- [x]  Update test
- [x]  Update

[2017-10-20 14:23] #81 closed

[2017-10-20 21:09] skellock opened #85 "Simpler Output"
I'd love to see less verbose output by default.

### For Success

So if everything passes, instead of this:

![image](https://user-images.githubusercontent.com/68273/31841672-7c7cf5be-b5b8-11e7-919e-1e437a0da900.png)

Show this:

![image](https://user-images.githubusercontent.com/68273/31841685-938318d8-b5b8-11e7-803c-12e2f93c3fec.png)

I think it's important to show a success message instead of g

[2017-10-21 03:30] GantMan commented on #85
Sounds good Steve!  Gonna mark this as a deliverable for v1

[2017-10-21 03:33] GantMan commented on #71
Just checked, and globals do NOT work.

[2017-10-21 03:42] #71 closed

[2017-10-21 13:36] danielberkompas opened #87 "Support Other Backend Languages"
I recently wrote a [similar project](https://github.com/infinitered/config_validator) for Elixir. If we want to use `solidarity` for Elixir backend (or other) projects, there are some changes we would need to make.

As I see it, `solidarity`'s core concept can be divided into three parts:

1. Rule file
2. Plugins
3. Validator

## Rule File

The config file format must be able to specify the follow

[2017-10-22 10:14] Mknsri commented on #85
I'd love to take a crack at this.

[2017-10-22 13:54] Mknsri commented on #85
I opened a pull request #89, hope it's OK

[2017-10-22 21:38] GantMan commented on #85
Great work @Mknsri !

[2017-10-22 21:38] #85 closed

[2017-10-24 22:00] GantMan opened #92 "Create JSON schema"
Validate and use JSON Schema to verify solidarity files

[2017-10-25 04:31] #76 closed

[2017-10-26 02:35] kevinvangelder opened #93 "Support "Windows" platform in addition to "win32""
May require a small translation layer.

[2017-10-26 02:37] kevinvangelder opened #94 "Allow naming rules"
[code]

[2017-10-26 02:41] kevinvangelder opened #95 "Alias `dir` with `directory`"
The directory rule should work with `directory` in addition to `dir`

[2017-10-26 02:45] kevinvangelder opened #96 "Add Windows global NPM install directiory (if possible)"

[2017-10-26 03:06] kevinvangelder opened #97 "Add Appveyor Windows Testing"

[2017-10-26 05:46] kevinvangelder opened #102 "checkRequirements tests seem to be interdependent"

[2017-10-26 06:20] #97 closed

[2017-10-26 06:28] kevinvangelder commented on #96
Closed by #100

[2017-10-26 06:28] #96 closed

[2017-10-26 06:28] kevinvangelder commented on #95
Closed by #99

[2017-10-26 06:28] #95 closed

[2017-10-26 23:56] #92 closed

[2017-10-27 03:43] GantMan commented on #93
https://github.com/infinitered/solidarity/blob/master/src/extensions/functions/skipRule.ts

[2017-10-28 05:42] #93 closed

[2017-10-28 16:10] GantMan commented on #25
This was completed by @kevinvangelder

[2017-10-28 16:10] #25 closed

[2017-10-28 16:15] GantMan opened #107 "Custom Rules"
Allow rules of type "custom" which will offload to a process owned by plugins.

The popular ones could be promoted back into the core.

## Ideas:
* A plugin that gives you rules that only make sense on a given stack.
* A plugin that makes sure there are no cuss-words (no client embarrassment)
* Custom webpack checker
etc.

[2017-10-31 19:00] GantMan commented on #39
### Goal - Incorporate Trevor's envInfo in this process.

Wish driven development
`solidarity report`

This will capture the OS from envinfo.  We should also grab arch & cpu (feature of envinfo?)  TODO for Trevor.
Then we will use gluegun's print.table (I think that's right - probably needs me to update it).   To outline the values of each item in the `.solidarity` requirements.

* ENV will print

[2017-10-31 22:27] hiaw opened #111 "cannot find watchman on zsh"
I'm using `zsh` and can confirm that I have `watchman` installed. But `solidarity` reports that `watchman` is not installed. `applesimutils` and `ANDROID_HOME` also reported missing

    "Watchman": [
      {
        "rule": "cli",
        "binary": "watchman",
        "error": "Please install watchman on this machine. Refer to the official Watchman installation instructions for additional help.",

[2017-11-01 02:50] GantMan commented on #111
Heya!  I also use ZSH so let's see what's up.

So you type `which` and it works, but the rules don't.   The rules use [node-which](https://github.com/npm/node-which) so they can be system independent.

The failing ENV comes from `process.env` which isn't even a 3rd party plugin, that's supposed to work out the box with Node.

This sounds to me like Node is failing.  What version of Node are you us

[2017-11-01 03:03] hiaw commented on #111
I'm using node v8.7.0. I'll try `node-which` and report back

[2017-11-01 05:03] GantMan commented on #111
Also report back this:
![image](https://user-images.githubusercontent.com/997157/32260772-04017900-be98-11e7-8971-fc15937370cb.png)

[2017-11-01 12:01] matteo-hertel opened #113 "Local install with npm doesn't work"
Hello,

I wanted to add solidarity to one of my projects, I have the hard constraint of using npm and not yarn, when installing solidarity `npm i -D solidarity` the package is installed but when I run it like

`./node_modules/.bin/solidarity`

or even as part of package.jsonscript

[code]

it throws an error

[code]

if I install it globally or with locally with yarn it works just fine

My Env

[c

[2017-11-01 20:12] hiaw commented on #111
So I've tried both `node-which` and `process.env` and they seems to work find

[code]

[2017-11-01 21:08] GantMan commented on #111
Wow!

OK, can you you now try to use OUR code?

![image](https://user-images.githubusercontent.com/997157/32297861-919f8096-bf1e-11e7-8f1f-4c43e8453d5f.png)

[2017-11-01 21:11] hiaw commented on #111
Looks identical.

<img width="540" alt="screen shot 2017-11-02 at 10 10 51 am" src="https://user-images.githubusercontent.com/527296/32298104-2c093e8c-bfb6-11e7-93f6-d603a647ccf3.png">

[2017-11-01 21:12] GantMan commented on #111
That's using our code!  So how is it failing :/  Can you screen shot the failling rules?

[2017-11-01 22:07] GantMan commented on #113
Hiya!  So that's odd.  It should work fine as an `npm` module.  I've tested it as such.  Maybe more tests are needed.

I believe I've seen that error once during development.   Do you have npm cache you can clear?

If the bug persists, can you try `npm i window-size`?   Which is a dependency that seems to be failing.  And let me know if that strangeness suddenly makes things work.

[2017-11-01 22:18] GantMan commented on #111
Also, if you want we can chat in community.infinite.red and maybe even screen share.  Might help us identify an exact point of divergence.

[2017-11-02 10:37] matteo-hertel commented on #113
So I tested it in a vanilla project and it works, so must be something related to current set up, I'll close the issue for now as it's not related to the package, thanks for looking into it 😄

[2017-11-02 10:37] #113 closed

[2017-11-02 14:02] GantMan commented on #111
hey @hiaw - any updates on how it's failing?   Are you running from inside npm/yarn?  Let me know!  I hope to knock this out :)

[2017-11-02 15:06] GantMan opened #114 "Create All-Contributors"
Not in the Readme, but in the docs, it would be nice to have this:
https://github.com/jfmengels/all-contributors-cli

As it's own page.

[2017-11-02 15:12] GantMan opened #115 "Docs test"
A test that makes sure that any non-underscored MD file in the `Docs/` folder, has a corresponding link in the [sidebar](https://github.com/infinitered/solidarity/blob/master/docs/_sidebar.md)

This will do nothing for coverage but will help ensure CI will fail if someone makes the mistake of updating docs and not the site navigation.

[2017-11-05 23:45] GantMan commented on #62
![giphy 3](https://user-images.githubusercontent.com/997157/32420518-070897f2-c251-11e7-9bbc-f44b5b1fe816.gif)

[2017-11-05 23:45] #62 closed

[2017-11-06 01:06] skellock commented on #62
Good job guys!

[2017-11-06 01:07] mattathompson commented on #62
Teamwork makes the dream work.

On Nov 5, 2017 8:06 PM, "Steve Kellock" <notifications@github.com> wrote:

[2017-11-06 01:12] skellock commented on #62
Found the sports fan!

[2017-11-06 02:43] GantMan commented on #111
hey @hiaw - how's this looking?  Might close soon if you don't have an update.

[2017-11-10 23:28] mlaco commented on #87
@GantMan and I talked about it, and a cause for some hesitation was that in rewriting the validator, we would lose access to the features provided by Gluegun. But I suggested that we could sacrifice those features in order to get the benefits of adoption and features of the target-language, as you mentioned above, @danielberkompas.

We would also be able to _keep_ the Gluegun features for any Java

[2017-11-11 18:06] GantMan commented on #107
@tabrindle - this is the idea I mentioned in https://github.com/infinitered/solidarity/pull/121

[2017-11-11 20:00] #115 closed

[2017-11-11 20:01] GantMan commented on #115
thanks to @kevinvangelder for helping with windows here.  This is a good reusable test on any project we do with docsify.

Maybe even a good test to add to gluegun?

[2017-11-11 23:20] GantMan commented on #114
done!

[2017-11-11 23:20] #114 closed

[2017-11-13 02:15] GantMan commented on #111
Going to have to close this if we're not getting updates.  Feel free to re-open.

[2017-11-13 02:15] #111 closed

[2017-11-13 18:02] GantMan opened #126 "Snapshot version of only 1 thing"
`solidarity snapshot yarn` where yarn is already active in the rules.

This should only update yarn dep to system, even if other things were failing.

[2017-11-13 23:59] tabrindle commented on #39
I think given PR-121 is merged we can probably close this. If there are outstanding issues/changes, we can create a different ticket?

[2017-11-14 03:24] GantMan commented on #39
Let's do a quick meeting and jam on it, then close when we've written the next ticket.  Ping me on chat when you can.

[2017-11-16 14:09] joegoodall1 opened #127 "'yarn add solidarity solidarity-elixir --dev' causes error"
`yarn add solidarity solidarity-elixir --dev`

results in

`error Couldn't find package "solidarity-elixir" on the "npm" registry`.

(node v8.9.1 / npm v5.5.1 / yarn v1.3.2)

[2017-11-16 16:11] #127 closed

[2017-11-16 20:35] GantMan opened #129 "Found bug in 1.0"
This is not how enumeration works:
https://github.com/infinitered/solidarity/blob/master/src/commands/solidarity.ts#L33

Can't have this return `string | number` - it's likely to be an issue.

### Action Plan
1. Need to first write a failing test that would have caught this
1. Fix the return type here

[2017-11-19 21:01] mattathompson commented on #75
@GantMan, I'm going to pick this up if nobody has started on this yet. I will put a PR early once I have a working implementation.

[2017-11-20 01:06] #129 closed

[2017-11-20 05:09] GantMan commented on #75
Sounds good.  Should someone just say `solidarity snapshot cli` and then it asks them questions regarding the CLI rule?  Or do you like the specifics I have above?

Thinking "what's the optimal user experience" and then coding to that standard.

[2017-11-20 23:02] mattathompson commented on #75
I'm okay with the original spec for the enhancement. Its one less step for the user.

That being said I think there is a potentially one missing step regarding a prompt for Making the new requirement or adding to an existing one.

So in the case of cli rule it would go as follows:

``

[2017-11-20 23:05] mattathompson commented on #75
I'm okay with the original spec for the enhancement. Its one less step for the user.

That being said I think there is a potentially one missing step regarding a prompt for Making the new requirement or adding to an existing one.

So in the case of cli rule it would go as follows:

`
$ solidarity snapshot cli node
Would you like to add the binary `node` to your Solidarity file? (Y/n) True
Would yo

[2017-11-21 00:05] mattathompson commented on #75
If the user chooses to add to an existing requirement then we list the existing requirements.

[2017-11-21 14:59] GantMan commented on #75
looks great

[2017-11-22 16:45] GantMan commented on #107
OK, so here's how it would work.
[code]
Upon seeing rule `"custom"` this would load the `rules.js` file located in the plugin named.  It would then fire off the function found in the `name` prop, and pass in all props of the rule + context.  If anything is returned the rule failed.

_Example rules.js_
[code]

It's easy enough to shell out to whatever non-node stuff exists.
_Example of Shell rules.

[2017-11-22 18:38] skellock opened #133 "Shell Rule"
How about a rule that allows you to run an arbitrary command and test it's output?

### Simple

* run a shell command
* trim the `stdout`
* match against a regexp

[code]

### Advanced

* run a shell command
* trim the `stdout`
* match a subset with a regexp capture group
* convert it to a number
* run it through an expression checker

[code]

### Another Advanced

* run a shell command
* check th

[2017-11-22 19:30] GantMan commented on #133
I love this rule!

I think it's a great short-term solution.  And it's simple and clean.

Only nit I have is checking for the exit code exclusively takes the check spot.  I'd rather have check always be for output, but a separate prop for those who want to check the exit code, like `"exitCode": 0`

I think it would be an epic add, plz add!

[2017-11-27 06:36] GantMan commented on #39
Lots of progress on this found in https://github.com/infinitered/solidarity/tree/report_update

Running `solidarity report` on a project produces:
[code]

Which when pasted in github looks like so:
# ⚠️ Environment Report:
-----------------------------------------------------------------------------------
### System

| System Basics | Value                                         |
| -------------

[2017-11-29 15:08] #39 closed

[2017-11-30 05:22] #133 closed

[2017-12-02 17:07] GantMan opened #140 "My error"
# ⚠️ Environment Report:
-----------------------------------------------------------------------------------
### System

| System Basics | Value                                         |
| ------------- | --------------------------------------------- |
| OS            | macOS High Sierra 10.13.1                     |
| CPU           | x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz |
| Report Info

[2017-12-02 17:07] #140 closed

[2017-12-19 19:40] GantMan opened #145 "Enforce License"
Lots of people are building projects and those projects end up using dependencies of various licenses, or sometimes no license at all.

Would be cool if there was a license rule (maybe via plugin) that would check all packages and ensure that the licenses of the included modueles were either of a status or even more lenient.

So if I set my license rule to BSD-2 it would accept MIT, WTFPL etc., un

[2017-12-19 20:17] jamonholmgren commented on #145
That's an interesting idea for sure. I like it!

[2017-12-19 20:44] skellock commented on #145
I like it. I never think to check this.

[2017-12-20 17:46] GantMan opened #147 "Add prettier"
make codebase use prettier and standard

[2017-12-20 19:41] jamonholmgren commented on #145
I'm not sure we want to determine which licenses are "even more lenient" though. We may just want a default list of acceptable licenses that people can then customize.

[2017-12-21 15:12] GantMan commented on #145
I like this.  So when you add the rule, there's a list with delineations on obligations it puts on the consumer of the licensed code.   "Must include attribution" etc.

[2017-12-21 16:55] #147 closed

[2017-12-22 05:47] jamonholmgren commented on #145
This is a killer use case for solidarity, btw.

[2017-12-24 23:23] GantMan opened #151 "Add Danger JS"
Start off with spell checking - use Danger JS

Maybe as a follow up do a plugin for danger that makes sure all contributor additions are accounted for in the markdown.

Code would be similar to:  https://github.com/danger/danger-js/blob/9772aacbb62155a55ee5e6a1e4346ebb9aea0129/dangerfile.ts#L28-L32

[2017-12-24 23:26] GantMan opened #152 "Add Rollup"
Rollup supposedly removes unused code and provides a smaller shipped product for importing.

If we used rollup for `/dist` we could end up with 1/4th the final node module size.

[2017-12-25 00:22] GantMan commented on #152
I don't believe we can rollup gluegun powered CLIs

[2017-12-25 00:22] #152 closed

[2017-12-29 20:14] mattathompson commented on #75
The PR w/ this functionality has been merged into master. I'm going to start another PR for the documentation.

[2017-12-29 21:53] mattathompson commented on #126
Hey, this looks like this was addressed with https://github.com/infinitered/solidarity/pull/134

[2017-12-29 21:58] GantMan commented on #126
agreed

[2017-12-29 21:58] #126 closed

[2017-12-30 01:40] GantMan opened #155 "Add JSON5 support for config"
http://json5.org/

Currently .solidarity and .solidarity.json are classic node JSON and that sucks.

[2017-12-30 01:42] GantMan opened #156 "Add dynamic Typescript support - no need to build every time."
I would love to have solidarity work like this:
https://github.com/infinitered/gluegun/pull/307/files/407c0b6726022cb287fa56fc294affe633dee0ed#diff-33fd6425bab0707d6e6a62182a036d20

[2017-12-31 05:24] GantMan commented on #156
Currently working on this here: https://github.com/infinitered/solidarity/compare/run_ts_directly?expand=1

[2017-12-31 23:21] #151 closed

[2018-01-02 16:54] GantMan commented on #156
according to Jamon, this will work when gluegun TS is released.

[2018-01-06 22:05] GantMan opened #159 "🔌 Plugin Idea - Check node modules authenticity"
Inspired by this article:  https://hackernoon.com/im-harvesting-credit-card-numbers-and-passwords-from-your-site-here-s-how-9a8cb347c5b5

Perhaps checks npmjs for the github link and then requires you to whitelist anything that can't be verified.

[2018-01-08 18:12] jamonholmgren opened #160 "marked vulnerability"
![image](https://user-images.githubusercontent.com/1479215/34685186-6e82d0c2-f45c-11e7-9cf3-3756e4e0455c.png)

[2018-01-18 21:58] tabrindle commented on #160
Of note - sync-exec a dependency of envinfo (`solidarity report`) was also a vulnerability and it has since been fixed with envinfo@3.11.0

[2018-01-18 22:20] tabrindle opened #162 "allow usage of `solidarity report` in directories without .solidarity file"
Currently, `solidarity report` errors out completely with

[code]

when no .solidarity file is available. While I believe it should still print this, printing out the same info we normally do would also be helpful.

[2018-01-18 22:22] tabrindle opened #163 "print help when cli is given unrecognized command"
Currently this happens

[code]

Many CLI tools like commander have a simple option to forward unrecognized commands to help - does https://github.com/infinitered/gluegun have this?

[2018-01-22 01:39] GantMan commented on #162
So you mean the header info?  And then a friendly message?

[2018-01-22 01:42] GantMan commented on #160
This was fixed back on Jan 4th 👍
Here: https://github.com/infinitered/solidarity/commit/8dd7d63b0d6b84e93ab3d851060fafd6902356a0

[2018-01-22 01:43] #160 closed

[2018-01-22 04:32] #155 closed

[2018-01-22 15:20] GantMan opened #166 "Show-Off-Gif at top of Readme.MD"
We have a great logo, a great tag line, but no show off gif.

We need a GIF showing a complex and useful solidarity check in a project.  The output of a `--verbose` perhaps?

As plugins and new features enter Solidarity, we should add to the gif.

[2018-01-22 17:31] derekgreenberg commented on #166
I'm inspired by the well-produced gifs here: https://gfycat.com/gifs/tag/GifRecipes . Thanks to @GantMan for cluing me in to this. Watch these recipe GIFs for inspiration. For a Solidarity gif, produce as a sequence of terminal screens showing the actions along with text explanation overlays of what's going on. Surprising how much info can be packed into a short number of frames.

Production proce

[2018-01-28 18:14] GantMan commented on #107
Begin work on `solidarity_plugin_powerup` branch:
- [x]  Make non-template plugins NOT show up in snapshot
- [ ]  Setup example for plugin with these new rules
- [ ] Allow custom rule without error (update TS and JSON Schema)
- [ ] Write custom rule handler in Solidarity core
- [ ] Write a simple check rule and wire it up with tests
- [ ] Write a simple snapshot rule and wire it up with tests
- [

[2018-01-29 04:30] GantMan commented on #107
Current shape of a custom check rule
[code]
[code]

[2018-02-01 21:33] GantMan commented on #107
[code]

[2018-02-03 16:20] GantMan opened #167 "Tests Cleanup"
Quite a few of the tests use their own mock of context, rather than the root `const context = require('mockContext')`

Let's clean things up and use the __mock__ context version throughout all tests.

[2018-02-03 20:41] mattathompson commented on #167
Good call. I can start on some of these.

[2018-02-03 21:37] GantMan commented on #167
awesome!

[2018-02-04 23:27] #107 closed

[2018-02-07 22:18] GantMan commented on #145
To check:  Build around this
https://github.com/davglass/license-checker

[2018-02-07 22:25] tabrindle commented on #145
That's a great idea.
On Wed, Feb 7, 2018 at 5:18 PM Gant Laborde <notifications@github.com>
wrote:

[2018-02-07 23:03] GantMan commented on #145
Example API:

enforce licenses rule whitelist
[code]

[2018-02-08 04:55] GantMan commented on #145
Can use this in reports:

https://tldrlegal.com/

[2018-02-09 02:09] jamonholmgren commented on #145
I like the API @GantMan. 👍 👍

[2018-02-09 14:04] skellock commented on #145
Legit.  I want this.  Hurry!  They're coming!!!

[2018-02-11 02:51] GantMan commented on #166
![solidarity_explainer](https://user-images.githubusercontent.com/997157/36068817-297b9e02-0ea4-11e8-96b5-9ea7a34401e2.gif)

Thoughts @derekgreenberg ?

[2018-02-11 03:02] GantMan opened #171 "Move towards JSON extention"
Even though you can hypothetically do `.solidarity.json` - we have only really tested and used `.solidarity` in the field.  Let's move towards `.solidarity.json` for automatic formatting by editors, and JSON schema enforcement.

This ticket means adjusting docs, examples, and all references to be `.solidarity.json`

[2018-02-12 21:50] #166 closed

[2018-02-23 14:07] skellock opened #175 "React Native binary gives wrong version number"
## Problem

Solidarity is reporting that I have the wrong version of React Native installed.

`✖ react-native: you have '21', but the project requires '^2.0.1'`

## Config

In my `.solidarity` file I have this:

[code]

## System Settings

[code]

## Symptoms

From my shell, if I type `react-native --version` I get this:

![image](https://user-images.githubusercontent.com/68273/36597377-eb82b3ec-1

[2018-02-23 14:35] GantMan commented on #175
Thanks for this report!  I'll work on getting around this issue.   If `which` gives me a path, and it's not the node injected path, I'm going to enforce we use that.  This should help fix that issue.

[2018-02-23 14:36] skellock commented on #175
It'll give you `./node_modules/.bin/react-native`.

[2018-02-23 15:28] GantMan commented on #175
I have how to do it.  It's (of course) disgusting and slow.

Here's my suggestion.

Do `which` and do a quick small check.  If I see `node_modules` in the results, immediately call my panic function and check if there's a global instead.  For CLI's prefer globals over local, and in verbose mode print a small message that we took such liberty.

This feels natural regarding I'm charged with CLI find

[2018-02-23 15:55] GantMan commented on #175
Notes for going after `node_modules`
Checking globals on npm:
`npm list -g --depth=0 --json`

Checking globals on yarn
`yarn global list --depth=0 --silent --json`

[2018-02-23 16:06] skellock commented on #175
Another option is to change the `env.PATH` to slice off any path ending with `/node_modules/.bin`.

I'm not sure any other binary/lib works like this other than `react-native`.

[2018-02-23 16:21] GantMan commented on #175
Cool.  I'm going to do my way which would "prefer global" but also fall back to node_modules should global not exist.

[2018-02-26 06:36] GantMan commented on #175
@skellock - you're totally right.  I hit some serious performance issues asking for globals.  It turns out those commands I posted do API calls!  SUPER SLOW!  switching to your method.

[2018-02-27 04:19] #175 closed

[2018-02-27 04:22] GantMan commented on #175
@skellock - I tested this on a dummy project, and as you can see it is able to take `rn` from global now.

So I can test line 1 and line 2 no problem, now.

This will be rolling out in the 2.0 update I'm slating for release.  Followed by the new features in the RN plugin, which are already sitting in a branch awaiting testing and use.

![working](https://user-images.githubusercontent.com/997157/36

[2018-03-02 20:54] TheAlmightyBob opened #181 "Snapshot picks up wrong React Native info"
This is very similar to #175 , but specifically affecting `solidarity snapshot` now.

The snapshot is generated with something like the following:
[code]

There are two different entries for `react-native`, both versions are wrong, and they change every time `solidarity snapshot` is run (suggesting that it is again picking up the number from the "scanning folders" execution time).

When then runni

[2018-03-02 22:20] GantMan commented on #181
This is hopefully solved by v`2.0.1` which I just released.  Please let me know!

[2018-03-03 01:55] TheAlmightyBob commented on #181
@GantMan The snapshot has correct versions now but still includes both the `react-native` and `react-native-cli` versions under the label `react-native`:
[code]
Is that by design?

Also, `solidarity` (without `snapshot`) is no longer working for me with this version. I just get:
[code]

And it spins forever on `verifying Android`. Previous version does not exhibit this problem.

[2018-03-03 02:10] GantMan commented on #181
### Part 1:
Yes I made the decision to put both checks for line 1 and line 2 of react-native's output.  I figured the more info verified the better.  If you think this is overkill, let me know, but I think that knowing the cli is key because `rnpm` versions are very important, and that's tied to what version of the CLI.  I'd want to know if we had different CLIs

### Part 2:
So bummer... I do not

[2018-03-03 21:08] patrickkempff commented on #181
I can confirm that i have the same problem with v2.0.1

[code]

[2018-03-04 03:00] TheAlmightyBob opened #183 "Type error and infinite spinner"
(split off #181)

Seemingly starting with v2.0.0, `solidarity` (for a React Native project) shows:
[code]

And it just spins forever on "Verifying Android."

Interestingly, adding `--verbose` outputs:
[code]
(as the "Done" indicates, it actually finishes in this case, rather than hanging as it does without the `--verbose`)
(note that the absolute path on `/usr/local/bin/react-native` is just to wo

[2018-03-04 03:02] TheAlmightyBob commented on #181
@patrickkempff @GantMan I split off the TypeError/Verifying issue into #183 and am closing this specific issue w/ the React Native snapshot, which does appear to be fixed in 2.0.1.

[2018-03-04 03:02] #181 closed

[2018-03-05 13:53] GantMan commented on #183
So we're using the `env_info` library for identifying the androidVersion, and I'm not 100% sure that works on all machines.

Can you help us understand if this is in the envinfo lib?   Please install https://github.com/tabrindle/envinfo and let me know if it tells you the android sdk versions correctly.

[2018-03-05 17:42] TheAlmightyBob commented on #183
@GantMan Looks correct to me.
[code]

[2018-03-05 23:02] GantMan commented on #183
Found it!  This was a bug in the android-finding code (which can be slightly different).  The regex has been fixed to catch these issues and is now live.  Please install `solidarity-react-native` latest which will be `2.0.1`.

[2018-03-05 23:02] #183 closed

[2018-03-06 14:37] tabrindle opened #184 "Feature Request: Allow subsets of requirements"
Consider a project with an optional dependency based on what scripts are run, or who is running them.
In some cases, you may want to block a script with a non zero exit code from solidarity failing a check in one script, but not another.

Example: you want to check for a certain git author email before commit, but that rule shouldn't block someone from installing or building the project.

Second e

[2018-03-06 23:31] GantMan commented on #183
btw, thanks for taking the time to file this issue @TheAlmightyBob

[2018-03-12 14:44] tabrindle opened #190 "Feature Request: configure post run action and exit codes"
Currently a project I am working with loves the idea of Solidarity, and is inlining it in their build process. However, they don't want to completely block the build process on a mismatch - they want an obnoxious warning message.

Without some clever scripting, solidarity returns an exit 1 and fails out of the current script.

One possible solution: allow for the config to return an exit 0 to not

[2018-03-12 15:32] GantMan commented on #162
"Hey we didn't find a .solidarity file.  SO we reported what we thought, and you can point towards an external file with `--solidarityFile './nachos/.solidarity'`"

[2018-03-12 15:37] GantMan commented on #190
so `--friendlyExit` - easy enough for the basis of this.  👍

[2018-03-15 17:57] GantMan commented on #145
Possible plugin game changer.
https://github.com/fossas/fossa-cli

[2018-03-27 20:43] tabrindle opened #194 "Feature Request: inject wanted/installed versions into helpful error messages"
Current example:

[code]

When npm is out of date, it prints "npm outdated: Update with `npm install -g npm@{version}`" as expected. It would be awesome to be able to print a message like this:

"You have npm@5.6.0: Project requires 5.7.1. Update with `npm install -g npm@5.7.1`"

We could achieve this with a simple template, using ejs, handlebars, mustache, template literals/tagged templates, or e

[2018-04-02 01:41] GantMan commented on #194
closed by #195

[2018-04-02 01:41] #194 closed

[2018-04-02 01:42] GantMan commented on #162
I'm also gonna add a feature in this PR, when I get to it, to have it look for a solidarity file in a specific node module.  Should be epic!

[2018-04-17 10:13] rhayart commented on #183
Hi, getting the same problem on react-native with version 2.0.1.
The "Verifying Android" display an infinite spinner.

[code]

Am i missing something ? Something new ?

Thanks

[2018-04-17 13:44] GantMan commented on #183
Hiya @rhayart !

So it's not working eh?   Any chance we can screen share so I can help figure this out?

[2018-04-18 07:46] rhayart commented on #183
Unfortunatly im at the office and i can't do that... What informations could help you for that issue ?

[2018-04-18 17:56] GantMan commented on #183
Are you 100% sure it's the verifying android step?

What happens when you install `envinfo` and run the `envinfo` CLI?

Please provide answers and output of both of those, here.

[2018-04-18 17:59] GantMan commented on #183
Actually, I just found it!

https://github.com/infinitered/solidarity-react-native/blob/f40e87ad3d7dd35c93d61521d53d35dc1991b468/extensions/react-native.js#L41

Looks like I forgot an `s`!  Will do a fix and roll it out now.

[2018-04-18 18:07] GantMan commented on #183
@rhayart - released 2.0.2!!!!

[2018-04-19 08:27] rhayart commented on #183
Great, the problem seam to be solve. Thanks

[2018-05-22 13:29] oximer opened #205 "Latest version as Wanted Version"
It's possible to configure  Solidarity Options to have the latest version of a package as the wanted version.

{
        "rule": "cli",
        "binary": "gam",
        "error": "Try `npm install -g gam-cli`",
        "semver": "latest",
        "error": "please install with `brew install watchman`"
      },

Something like this.

[2018-05-22 14:13] tabrindle commented on #205
We don't currently have this to my knowledge, but it is an interesting idea!

This would require us to make a network call to a package manager to find the latest version, then check against semver of current.

A basic implementation might be easy, but I can see this scope creeping to every package manager ever.

@GantMan Got any input?

[2018-05-22 17:43] oximer commented on #205
you can use

`npm show gam-cli version`

To check the version.

[2018-05-22 17:52] oximer opened #206 "name convention"
All plugins must start with solidarity?
I tried to create a plugin with a different name, but solidarity didn't display it.

There is any name convention?
There is a way to use a different name. E.g. gam-solidarity instead of solidarity-gam.

[2018-05-22 18:20] tabrindle commented on #205
yes that would work - for npm.

with the current config object, I'm not sure there is a way for us to know this is a binary from npm.

[2018-05-22 19:30] oximer opened #207 "Snapshot Args"
It's possible to pass Snapshots args, so that I can automatically create a snapshot using a plugin?

E.g.

`
solidarity snapshot my-plugin.
`

[2018-05-23 00:36] #206 closed

[2018-05-23 22:05] GantMan opened #208 "Add CI property"
if I set `ci` to `false` in the JSON, then ignore that check when running on a machine where the environment has CI=true

This is needed because though a platform matches, some CI's don't have all the needed features.  Android/Environment etc.  So we'll flag these as OK on CI only.

[2018-05-24 15:31] oximer opened #209 "Building Issues"
Hey guys,

I'm having trouble to build my project after adding your package as dependency.
I have many other packages of package.json, but your projects is causing me trouble.
This is the error message:

[code]

I don't have internet connection on my building server, but I have a local registry that serves the required packages.  It seems to me that you are doing something out of box, that causes

[2018-05-24 17:02] #209 closed

[2018-06-01 14:12] f0rr0 opened #210 "Type error and infinite spinner"
[code]

[2018-06-01 14:12] f0rr0 commented on #210
Same issue as https://github.com/infinitered/solidarity/issues/183

[2018-06-01 16:16] tabrindle commented on #210
This appears to be coming from regexing the build.gradle file. Can you post that file and it's location?

`projectBuildToolsVersion: /buildToolsVersion\s["|']([\d|.]+)["|']/.exec(androidGradle)[1]`

[2018-06-04 08:03] f0rr0 commented on #210
`android/app/build.gradle`

[code]

[2018-06-06 13:22] BenCook28 opened #211 "Solidarity with TestFlight"
I heard about Solidarity on React Native Radio, and appreciate the work you've done on solving a big problem.  A React Native app works on my phone with TestFlight, but much more slowly and crashes (possibly because of rapidly repeated presses) on a key stakeholder's phone.  The key stakeholder is not technical.  Would Solidarity be able to help me understand why it doesn't work as well on the sta

[2018-06-07 01:40] GantMan commented on #211
Hrmmm, it's more of the developer environment than differences on phones.  Solidarity will be a poor tool for helping this.   I'm thinking instruments for iOS?

BTW, what phone does your stakeholder have?

[2018-06-07 13:38] BenCook28 commented on #211
Thanks for letting me know, GantMan.  The stakeholder has an iPhone X and I have an iPhone 8.  The issue seems to be that I have the most current iOS version on my phone and the stakeholder didn't.

[2018-06-07 13:38] #211 closed

[2018-06-25 16:46] bartolkaruza opened #212 "Solidarity report shows double react-native"
Actual
Below report shows a double line for the react-native dependency, while running `solidarity report` on Bitrise. Also different versions are shown on each line.

Expected
only one version per binary

### Commands
| Binary        | Location                                          | Version   | Desired |
| ------------- | ------------------------------------------------- | --------- | -------

[2018-06-26 20:38] tabrindle commented on #212
Mind sharing your solidarity file? Looks like it's getting confused between the react native package and the cli.

[2018-08-02 21:50] GantMan commented on #212
Ah, it's showing two because react-native has 2 outputs!

This is correct.

[2018-08-02 21:50] #212 closed

[2018-08-02 21:50] GantMan commented on #212
I'm open to a better way to present this.  Please show in a new ticket for discussion.

[2018-08-02 21:57] GantMan opened #213 "Add `check` command"
Check command will look up a given solidarity check JSON, and run it.

Basically like storing you `.solidarity` files on the cloud.  This lets you take care of everything without having a local file.   Great for checking non-project based environments.

example 1:
[code]

example 2:
[code]

[2018-08-11 17:37] #213 closed

[2018-08-11 20:52] GantMan commented on #210
@tabrindle - any updates on this?

[2018-08-11 22:15] GantMan opened #217 "Move from ORA spinner to LISTR"
https://github.com/SamVerschueren/listr

So we can show progress cleanly.  This cannot be done with ora
https://github.com/sindresorhus/ora/issues/31

[2018-08-11 22:24] #31 closed

[2018-08-16 23:11] GantMan opened #218 "Windows Python Version"
`python --version` or `python -V` on windows will print the version to the console, but not to STDOUT.

If you run the command `python --version > test.txt` the contents of that file will be empty!

This is why our child process cannot see the output on windows.  Fixes anyone?

[2018-08-17 03:54] GantMan commented on #218
fixed by #219

[2018-08-17 03:54] #218 closed

[2018-08-20 19:41] fvonhoven opened #220 "Solidarity init experience"
1) Create an empty `.solidarity` file
2) Create a `.solidarity` file with wizard
3) List of plugins

[2018-08-22 23:50] TheAlmightyBob commented on #210
My team is also seeing this issue again. Although there's no stack trace. I don't know if @f0rr0 did something special to get that or if we're actually seeing a slightly different problem.

[2018-08-23 00:56] GantMan commented on #210
Bob any chance we can pair tomorrow?

[2018-08-23 03:15] TheAlmightyBob commented on #210
@GantMan Perhaps. I'm in the Slack channel (as my name, not my GitHub handle), feel free to ping me.

[2018-08-23 13:18] adrienthiery opened #221 "No solidarity plugins found!"
Hi there,

Giving a try to solidarity, installed globally `solidarity` and `solidarity-react-native` then ran `solidarity snapshot` in a React Native project and I keep getting :

[code]

What am I missing ? 😕

[2018-08-25 20:38] GantMan commented on #221
Strange it can't seem to find the plugin!!!!   It should have found it globally, but do you have `nvm` or something moving your globals?

Can you try installing `solidarity-react-native` locally and let me know if that works?  If it does then I just need to get the location where your global node modules are being installed and add that to the paths to check.

[2018-08-30 14:32] adrienthiery commented on #221
Hey @GantMan ,
It does work when installed locally.

I use `yarn` to add global dependencies, so the plugin is indeed installed in `~/.config/yarn/global/node_modules/solidarity-react-native/`

[2018-08-31 03:02] #221 closed

[2018-09-13 23:13] GantMan opened #223 "Do I need to `await Promise.all` and follow with a `then`???"
https://github.com/infinitered/solidarity/blob/64fce79eb48e0d78d5639f0e8b1f8d360c23358f/src/extensions/functions/updateVersions.ts#L18

![image](https://user-images.githubusercontent.com/997157/45520764-32920d80-b7bb-11e8-912d-316b55a4a383.png)

Is await stopping it from moving on?  Can I kill the await?

[2018-09-24 20:17] arizonatribe opened #224 "The --solidarityFile doesn't work (in the current version published to NPM)"
Currently you have 2.1.0 published to NPM, however the `--solidarityFile` flag does not work with this version (although it was corrected when that logic was extracted to the [getSolidarityHelpers.ts file](https://github.com/infinitered/solidarity/commit/64fce79eb48e0d78d5639f0e8b1f8d360c23358f#diff-e1c9f6f455abdec2d5708fe5333227bb)).

When will you be publishing what you have on Github to NPM so

[2018-09-27 17:12] arizonatribe commented on #224
If it's going to be awhile (looks like 6 months since your last release) perhaps you could remove that `--solidarityFile` from the Solidarity docs since it doesn't work?

[2018-10-02 01:48] #223 closed

[2018-10-02 02:53] GantMan commented on #224
I plan on releasing 3.0 soon :)  maybe a month or so, would that be good?

[2018-10-02 17:43] arizonatribe commented on #224
Yes that's fine. I'm trying to integrate solidarity into a forked version of `react-scripts` that will run before any build/start/test script is executed, and having a custom `.solidarity` per project would be ideal. For now I'm just doing a check if the `engines` prop from package.json that suffices

[2018-11-26 04:38] is343 commented on #210
I'm still getting this same error as well .
`"solidarity": "2.1.0",
 "solidarity-react-native": "2.0.2",`

[2018-11-27 09:50] arneson opened #230 "Release new version fixing solidarity > gluegun > cli-table2 > lodash security flaw."
Hi.
Your last updates to your packages updates lodash which fixes a security flaw triggering during yarn/npm audit.

Would be great if you could release a new version of this lib with the updated package list.

[2018-12-01 13:04] harrisrobin commented on #208
Has anyone figured out a workaround for now? 😄

[2018-12-01 15:47] GantMan commented on #208
I'll see about adding this feature now.  Unless you are interested in how to do it @harrisrobin

[2018-12-01 15:50] GantMan opened #231 "Bring in plugin envinfo to core"
Envinfo is part of core now, so it shouldn't be a plugin, all those features should be inside core.

[2018-12-01 15:51] GantMan commented on #230
Working on that today!

[2018-12-01 17:07] #208 closed

[2018-12-01 17:11] GantMan commented on #208
To @harrisrobin 's credit,
![image](https://user-images.githubusercontent.com/997157/49330822-b6a59700-f559-11e8-9778-15e8a1c95ed3.png)

I'm trying to knock out some outstanding issues today, and I accidentally started with this one.  Kudos for the effort, and happy to help you with a separate PR if you're interested

[2018-12-01 17:14] GantMan commented on #230
I've been working on trying to get version 3.0 out the door, but that shouldn't hold you all back.  Releasing version 2.3 in a bit to help out!

[2018-12-01 17:39] GantMan commented on #210
Please give a go with solidarity 2.3.0 and solidarity-react-native 2.1.0

[2018-12-01 18:18] GantMan commented on #224
@arizonatribe - can you let me know if 2.3.1 fixed this?  I released that version today.

[2018-12-01 18:18] GantMan opened #233 "Update docs to include CI flag"
#208 added, but could really use doc update
https://infinitered.github.io/solidarity/#/docs/options

[2018-12-03 00:48] is343 commented on #210
@GantMan
[code]

There's a new error, but the same result.
It's still infinitely spinning at the 'Verifying Android' step for me.

[code]

[2018-12-05 21:42] harrisrobin commented on #210
The first issue I see, is that `envInfo` has been renamed to `envinfo`, so it is undefined:
https://github.com/infinitered/solidarity/commit/ae02cbfa1c55677348f96e6e874cdbcc17c15df3#diff-d9ddbfcd9acda011201c3a540ff1b402L28

However, even after fixing it locally, it still fails because `envinfo` was updated and they have renamed
`getAllAndroidSDKs` to `getAndroidSDKInfo` 🙃

Working on a fix, PR com

[2018-12-06 14:54] #210 closed

[2018-12-29 00:57] kevinvangelder opened #234 "build.gradle not found"
Solidarity & solidarity-react-native are installed globally. `solidarity snapshot` worked fine, but `solidarity` returns:
[code]

[2019-01-03 23:36] #217 closed

[2019-01-21 16:45] GantMan commented on #224
closing due to I'm sure 2.3.1 fixed this, and also, I'm about to release 3.0

[2019-01-21 16:45] #224 closed

[2019-02-23 00:42] Pushplaybang commented on #234
@tabrindle @kevinvangelder I'm still experiencing this issue with the following deps:

[code]

[2019-03-25 05:36] is343 commented on #234
I'm also still getting this.
[code]

I've got my android sdk path setup in `./android/local.properties`

the Android section of my snapshot is reading as:
[code]

Solidarity is spitting out this error:
[code]

If I remove the Android section from the snapshot, everything passes, but that's obviously a less than ideal solution.

[2019-04-02 02:46] GantMan commented on #234
Sorry for the delay on this.  I'll be trying to take a look at this whenever I can.

I don't think that the current code actually adheres to `local.properties`, but it wouldn't be hard to add it if not.  Would you be interested in adding that code?  I'd be happy to assist you.  If not, I'll keep it on my TODO, and update when I can take care of it.

[2019-04-02 03:37] is343 commented on #234
@GantMan sure, I can do that. Would you mind helping me get started by pointing to where the logic is, or a general idea on what needs to be done?

[2019-04-05 04:20] GantMan commented on #234
Yup!

So in `solidarity-react-native` located here:  https://github.com/infinitered/solidarity-react-native

All the code for checking is here:  https://github.com/infinitered/solidarity-react-native/blob/master/extensions/react-native.js

I hope this helps.  Feel free to ask questions as you get started.

[2019-04-13 08:00] nonameolsson commented on #208
Would this be the correct usage? The following code fails when I run it as a part of my CI.

[code]

[2019-04-14 14:57] GantMan commented on #208
@nonameolsson - what version do you have?

[2019-04-15 07:04] nonameolsson commented on #208
@GantMan We use `2.3.1`.

[2019-07-01 06:50] cameronhunter opened #239 "Add `--no-color` option"
I'd like to save the contents of a solidarity report to a log file but it's saving the ansi color codes too. I've worked around the problem by piping it through [`strip-ansi-cli`](https://www.npmjs.com/package/strip-ansi-cli) but adding a `--no-color` option to `solidarity` would be perfect.

[2019-07-01 16:58] GantMan commented on #239
Awesome, would this be something you're willing to PR?

[2019-07-01 20:10] cameronhunter commented on #239
Following the this down the rabbit hole it turns out to be already supported!

`solidarity` uses [`GlueGunPrint`](https://github.com/infinitered/solidarity/blob/master/src/types.ts#L5) which uses [`colors`](https://github.com/infinitered/gluegun/blob/master/src/toolbox/print-tools.ts#L9) which supports passing [`--no-color`](https://github.com/Marak/colors.js/blob/master/README.md#disabling-colors

[2019-07-01 20:10] #239 closed

[2019-07-24 08:43] kaushal9678 commented on #234
As @tabrindle  mentioned above you can change following lines of code in directory

add **await ** before **getAndroidEnvData**

[code]

**2nd place to add in same file**
[code]

changes these lines
[code]
 like following
[code]

[2019-08-25 21:09] shwanton opened #247 "Published JSON schema on json.schemastore.org is outdated"
The current [published JSON schema](http://json.schemastore.org/solidaritySchema) does not reflect the latest [2.3.1 build](https://github.com/infinitered/solidarity/blob/v2.3.1/solidaritySchema.json)

Most notably, `shell` and `custom` definition types are missing.

There is probably a version flag I'm missing, but this is the one that is published in the [example](https://github.com/infinitered/

[2019-08-26 13:56] GantMan commented on #247
you're right.   Any interest in doing a PR?

[2019-08-30 22:30] shwanton commented on #247
Merged! https://github.com/SchemaStore/schemastore/pull/785#issuecomment-524923471

[2019-08-30 22:30] #247 closed

[2019-09-28 17:32] loiclouvet commented on #234
Thanks @kaushal9678. Should we merge this ?

[2019-10-30 00:25] gwmccull opened #249 "version 3??"
@GantMan any word on version 3? I saw you mention it a comment from months ago that it was nearly done

Any way I can help contribute? The current version is using some old packages with security issues and I may have trouble getting approval for v2.3.1 of solidarity

[2019-11-03 17:01] GantMan commented on #249
YES!!!!!

Please do a full check of master.   I'm worried about it having some kind of bug, but honestly it needs a good once over.  What's in master might be ready to ship!

That's what's holding back the release.  I have tests, but I really want a human-checkthrough of the features and then it's good to release.  I've had 3 people volunteer to do this, and then it goes silent... I guess they nev

[2019-11-06 08:20] haakemon opened #250 "Option to output warning instead of error and exit process with 0"
In some cases it would be nice to be able to just ouput that these checks fails as a warning.

F.ex you want to try to upgrade Node to a new version to see if everything behaves as expected. It would be nice to be able to "bypass" the checks with just a warning instead of exiting the process with non-zero exit code and breaking any other steps in the chain.

I can look into adding this feature if

[2019-11-06 15:36] GantMan commented on #250
That sounds like a cool feature!   Like --warnOnly or something as a flag?

I'd merge that!

[2019-11-06 16:04] tabrindle commented on #250
If you would like to do this for the entire Solidarity file, you could use a shell `||` or. This is fairly common practice, and many other libraries have fought against circumventing exit codes as a cli option.

You could also use this clever trick using unterminated escape codes to light up the terminal red, but continue your build. For example, use an npm pre hook.

[code]

However, I can still

[2019-12-05 10:18] DanielMSchmidt opened #252 "Version without leading `v` fails check"
I have a check for [kind 0.6.1](https://github.com/kubernetes-sigs/kind/releases/tag/v0.6.1) which has the `kind --version` output of `kind version 0.6.1`. It fails with `✖ No version was detected from the output of the binary 'kind'`

When kind was in version 0.5.1 the output was `kind version v0.5.1`, which was parsed successfully.

My rule definition is
[code]

[2019-12-07 19:15] GantMan commented on #252
Hrmmm, seems like the regex is getting messed up by the `v`
This code should have fixed it:  https://github.com/infinitered/solidarity/blob/master/src/extensions/functions/removeNonVersionCharacters.ts

Let me dig deeper

[2019-12-07 19:18] GantMan commented on #252
Can you verify `kind -v` fails?  BC if it doesn't that's the problem.  It tries `-v` first.

[2020-01-29 05:15] FrederickEngelhardt commented on #234
Will this be fixed?

[2020-01-29 15:39] GantMan commented on #234
Would you like to send the PR?  As long as it passes the tests, we can merge.

[2020-02-10 22:49] petekp commented on #249
@GantMan Hi, just checking if v3 is still approaching release. There are several security issues in the current release — perhaps those could be resolved in a patch release?

[2020-03-10 22:22] kevinvangelder opened #254 "`solidarity plugins` command"
It would be nice to have a `solidarity plugins` command that would list out locally installed plugins and provide a link to the list of known plugins.

[2020-03-11 00:58] kevinvangelder opened #255 "Test Suite for onboard Command"

[2020-03-11 01:01] kevinvangelder commented on #249
We're working on fixing some issues prior to rollout in #253. Extra eyes on the code would be welcome.

[2020-03-11 22:56] kevinvangelder commented on #249
@gwmccull My branch has been merged to master. Can you give it a try and let us know how it goes? If all is well we can probably release V3 by the end of the week.

[2020-04-27 10:56] mishra-ankit opened #256 "Friendly error not working for dir and file rule type"
Version : 3.0.0

Steps :
- Create file or dir type rule with custom friendly error message.

[code]
- run `solidarity`
- Both rules failed as expected. But doesn't print friendly error message.

Expected :
Print user specified custom error message from rule.

Used to work in 2.3.1

[2020-04-27 10:57] mishra-ankit commented on #256
I can create a PR for it.

[2020-04-27 15:07] GantMan commented on #256
Thanks @mishra-ankit

[2020-04-28 03:21] #256 closed

[2020-05-05 19:10] GantMan commented on #249
3 is out

[2020-05-05 19:10] #249 closed

[2020-08-07 11:04] anfriis commented on #234
Thanks, this fix works for me as well 👍🏼

[2020-10-16 08:54] mvehar opened #258 "CocoaPods version check fails due to RC appendix (1.10.0.rc)"
![image](https://user-images.githubusercontent.com/13729575/96237749-f59e3380-0f9d-11eb-82d2-1e91aa7cd2e5.png)

[2020-10-17 19:26] GantMan commented on #258
Ahhhhh good call.  Would you be interested in fixing this?  If not, I can put it on the TODO list.

[2020-10-22 08:01] mvehar commented on #258
Wont have time to tackle this one at the moment and also Cocoapods 1.10.0 was released :)

[2021-01-19 22:37] FrederickEngelhardt opened #259 "Question: Skipping continuous integration"
How does solidarity work for detecting that it is currently running on continuous integration? Do I need to pass a flag?

[2021-01-20 04:10] GantMan commented on #259
It checks for an environment variable named "CI" which is usually set on most CI servers.  If it's not, you can set it on your CI server.

Secondly, and I might be misremembering, but if your `ci: false` it will skip the test when on CI

[2021-02-08 08:32] loiclouvet opened #260 "High severity vulnerability in gluegun dependency (apisauce)"
Hello :)
Solidarity currently depends on gluegun@4.2.0 which depends on a version of axios with the high severity vulnerability https://www.npmjs.com/advisories/1594. Can we please upgrade gluegun to latest version ?

[2021-02-08 21:26] GantMan commented on #260
Sounds good.   Do you want to do a PR?  If not I can put this on a TODO list.

[2021-02-14 18:28] loiclouvet commented on #260
Hi @GantMan
Sorry, didn't see your reply. I made a local PR but I'm waiting for this [MR](https://github.com/SimonJang/gluegun/commit/a411ecbf3805a57c8f5abeb69ef5450b155c329a) to be merged :)

[2021-02-15 07:22] GantMan commented on #260
I merged that, now we'll just need a new version pushed and then an update.  Thanks!

[2021-02-16 15:22] #260 closed

[2021-02-16 18:42] loiclouvet opened #262 "Error after upgrading to 3.0.3"
Hello :)

After upgrading solidarity to 3.0.3, calling solidarity throw :
`env: node\r: No such file or directory`

Surely linked to #261

[2021-02-16 22:51] GantMan commented on #262
Sorry!  I'll try to take a look at this ASAP.

@loiclouvet - would you be interested in getting access to help do releases?

[2021-02-17 08:40] loiclouvet commented on #262
@GantMan I will try to have a look at this issue asap, I'm quite busy in those days...

[2021-02-17 20:17] GantMan commented on #262
You've been invited to have write access to the repo.

I can add you to NPM as well, if you're interested.

[2021-02-18 10:31] loiclouvet commented on #262
Seems to be linked to https://github.com/yarnpkg/yarn/issues/5480

[2021-02-18 11:02] loiclouvet commented on #262
@GantMan Did you build last version with windows ?

[2021-02-21 05:15] GantMan commented on #262
3.0.4 published from my mac.

[2021-02-21 12:56] #262 closed

[2021-02-27 01:04] jamonholmgren opened #263 "Solidarity causes `yarn` failure with global.Observable on bare app"
Solidarity is throwing an error on a super simple bare app. Easy to reproduce (see below), and this is causing issues with Ignite.

[code]

Reproduce:

[code]

[2021-05-26 11:14] caiconkhicon opened #264 "Add {{installedVersion}} and {{wantedVersion}} to fix command"
I tried the fix command like this:
`        "fix": "brew install node@{{wantedVersion}}"
`
but it doesn't work.

I think having {{installedVersion}} and {{wantedVersion}}  available in the fix command would be great.

[2021-06-25 17:24] jamonholmgren commented on #263
This no longer seems to happen -- closing!

[2021-06-25 17:24] #263 closed

[2021-08-10 17:07] FrederickEngelhardt opened #265 "shell scripts that pass in shell fail in solidarity shell"
Hi, I'm trying to run a shell script to detect if you have `nvm` or `fnm` installed.

The first case passes (in both solidarity and shell) if you have fnm install or the `.nvm` folder exists at your home root.

The second case fails when running solidarity but passes when ran in shell.

To replicate this issue you will need to have nvm installed. https://github.com/nvm-sh/nvm

Example .solidarity

[2022-10-11 22:09] phillipkey opened #267 "ejs template injection vulnerability"
Dependabot is throwing the following security alert:

`solidarity@3.0.4 requires ejs@^2.6.1 via a transitive dependency on gluegun@4.7.1`

![Screen Shot 2022-10-11 at 3 06 43 PM](https://user-images.githubusercontent.com/10274494/195207341-6ad9d652-484c-47a0-b396-475beae237a9.png)